@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  * {
    border-color: theme('colors.border');
  }

  body {
    background-color: theme('colors.background');
    color: theme('colors.foreground');
    font-family: Inter, sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: Inter, sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
